.manage-patient {


    .title {
        text-align: center;
        font-weight: 700;
        color: rgb(21, 18, 239);
        padding: 18px 0;
        font-size: 25px;
        text-transform: uppercase;
    }

    .manage-patient-body {
        // padding: 0 150px;

        .choose {

            display: flex;
            margin-bottom: 15px;

            label {
                font-size: 20px;
                font-weight: 600;
                margin-right: 12px;
            }

            .day {
                margin-left: 12px;
            }
        }



    }
}