.manage-patient {


    .title {
        text-align: center;
        font-weight: 700;
        color: rgb(21, 18, 239);
        padding: 18px 0;
        font-size: 25px;
        text-transform: uppercase;
    }

    .manage-patient-body {
        padding: 0 150px;
    }
}