// // .table-bordered {
// //     border: 1px solid #ddd !important;
// // }

// // table caption {
// //     padding: .5em 0;
// // }

// // @media screen and (max-width: 767px) {
// //     table caption {
// //         display: none;
// //     }
// // }

// .edit {
//     font-size: large;
//     width: 50px;
//     border: none;
//     outline: none;
//     background-color: transparent;
//     color: rgb(40, 84, 231);

//     &:hover {
//         background-color: transparent !important;
//         color: rgb(2, 30, 122) !important;
//     }
// }

// .delete {
//     font-size: large;
//     width: 50px;
//     border: none;
//     outline: none;
//     background-color: transparent;
//     color: rgb(233, 21, 91);

//     &:hover {
//         background-color: transparent !important;
//         color: rgb(166, 4, 31) !important;
//     }
// }


// .users-container {
//     .mx-3 {
//         .btn {
//             margin-left: 27px;
//         }
//     }

// }



// .modalContainer {
//     .modal-content {
//         .modal-header {
//             button {
//                 background-color: transparent !important;
//                 border: none;
//                 color: white;
//                 font-size: 30px;
//             }

//             background-color: #559b41 !important;


//         }
//     }

//     .modalBody {
//         display: flex;
//         gap: 15px;
//         flex-wrap: wrap;


//         .inputContainer {
//             display: flex;
//             flex-direction: column;
//             width: 49%;

//             &.address {
//                 width: 100%;
//             }


//             input {
//                 border-radius: 6px;
//                 height: 30px;
//                 border: 1px solid gray;
//                 outline: none;
//                 padding: 0 5px;
//             }
//         }
//     }

// }

.m-5 {
    margin: 50px 200px !important;

    .table-bordered {
        border: 2px solid #b0afaf !important;
        background: #e4fff4;

        .table-success {
            --bs-table-bg: #49cf92;
            color: #2854e7;
        }

        .table-bordered {
            border: 1px solid #ddd !important;
            background: #abe0c7;


        }

    }

    tr {
        font-weight: bold;
    }




}


.table-success {
    color: #2854e7;
}

tr {
    font-weight: bold;
}