.preview-img-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    .label-upload {
        padding: 20px !important;
        border-radius: 3px !important;
        background: #ddd !important;
        cursor: pointer !important;

        &:hover {
            opacity: 0.9;
        }

        i {
            font-size: x-large;

            margin-left: 6px;
        }
    }

    .preview-image {
        height: 70px !important;
        width: 130px !important;
        border: 2px solid rgb(227, 219, 219);
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
        margin-left: 15px;
        // background: rgba($color: #ddd, $alpha: 0.5);
        // border: solid 1px rgb(199, 189, 210);
    }
}