.verify {
    margin-top: 200px;

    .booking1 {
        font-size: 30px;
        font-weight: 700;
        color: rgb(10, 228, 170);
        text-align: center;
    }

    .booking2 {
        font-size: 30px;
        font-weight: 700;
        color: rgb(233, 38, 38);
        text-align: center;
    }
}