body {
    background: url(../../assets/images/mcare-patten-2x.png);
    height: 100vh;
    // background: rgb(244, 249, 250);
    // background: blue;
}

.slick-disabled {
    display: none !important;
}