body {
    font-family: 'Jost', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.home-header-container {
    height: 150px;
    width: 100%;
    background-color: rgb(255, 255, 255);


    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;

    .home-header-content-top {
        align-self: center;
        display: flex;
        justify-content: space-between;
        padding: 0 400px;


        .left-content {
            width: 45%;
            display: flex;
            justify-content: space-between;

            .phone {
                font-weight: 600;
                font-size: 15px;

                a {
                    margin-left: 15px;
                    text-decoration: none;
                    color: #1390e5;
                    font-size: 25px !important;

                    .sdt {
                        font-size: 25px !important;
                    }
                }
            }

            ul {
                display: flex;
            }

            .lang {
                width: 65px;
                padding: 0;
                margin: 0;
                list-style-type: none;
                text-align: center;
                padding: 0 175px;


                .flag {
                    img {
                        width: 25px;
                    }
                }

                li {
                    margin-right: 16px;
                    box-sizing: border-box;

                    .VI {

                        cursor: pointer;
                    }

                    .EN {
                        cursor: pointer;
                    }

                }
            }
        }

        .right-content-top {
            width: 55%;

            .row {

                display: flex;

                flex-wrap: wrap;
                margin-right: -15px;
                margin-left: -15px;
                // margin-top: 10px;

                a {
                    text-decoration: none;

                    .btn-success {
                        background: #0fce6a !important;
                    }
                }

                .btn {
                    background: #1991eb;

                    color: #fff;
                    font-weight: 600;
                    width: 100%;

                    i {
                        margin-right: 6px;
                    }

                    .far {
                        font-weight: 400;
                    }

                    .fa-globe {

                        font-size: 15px;
                    }
                }

                .btn-success {
                    background: #42cb83;
                    color: #fff;
                    font-weight: 600;
                    width: 100%;
                }
            }
        }
    }



    .home-header-content-bottom {
        width: 100%;
        height: 100px;
        display: flex;
        // padding: 0 144px;
        // border: 1px solid orange;

        .left-content {
            width: 40%;
            display: flex;
            align-items: center;
            margin: 0 -30px 0 -42px;



            i {
                font-size: 25px;
                cursor: pointer;
                margin: 0 0 0 300px;
            }



            .logo {
                background: url('../../assets/images/Screenshot\ 2022-11-13\ 161850.png') center center no-repeat;
                height: 90px;
                width: 386px;
                cursor: pointer;




            }
        }

        .center-content {
            width: 45%;
            // border: 1px solid red;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            padding: 0 30px;

            .menu-content {
                a {
                    color: black !important;
                    text-decoration: none !important;
                }

                .small-menu {
                    font-size: 12px;
                    font-weight: 400;
                }
            }
        }

        .right-content-search {
            width: 17%;
            display: flex;
            justify-content: center;
            align-items: center;

            .search {

                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 12px;
                border-radius: 25px;
                background-color: #e0eadc;
                outline: none;


                i {
                    padding: 0;
                }

                input {
                    height: 30px;
                    width: 300px;
                    background: transparent;
                    border: none;
                    outline: none;
                }

            }


            // border: 1px solid orange
        }
    }
}

// .home-header-banner {
//     background: url(../../assets/images/Banner-Kham-benh-hieu-qua-2048x693.jpg);
//     height: 693px;
//     background-repeat: no-repeat;
//     // background-size: cover;
//     background-position: center;
//     filter: drop-shadow(6px 6px 7px black);
//     margin-top: 160px;

// }