@import "../../styles/common.scss";

.header-container {
    background-color: #2fb931; //$colormain;
    color: $common-text-color;
    height: 40px;
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;



    .bar {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 600;
        position: relative;

        .admin {
            font-size: large;
            font-weight: 300;
            // text-transform: uppercase;
            margin-right: 10px;
            color: #e7f4f6;
        }

        .language-vi {
            color: $common-text-color;

            padding: 8px 8px;


            &:hover {
                background-color: darken($colormain, 5);
                font-weight: 700;
            }

            &.active {
                opacity: 1;
                color: #1a3edf;
            }

            i {
                font-size: $base-size + 1px;
            }
        }

        .language-en {
            color: $common-text-color;
            // line-height: 40px;
            padding: 8px 8px;

            &:hover {
                background-color: darken($colormain, 5);
            }

            i {
                font-size: $base-size + 1px;
            }

            &.active {
                opacity: 1;
                color: #1ac5df;
            }
        }

        .btn-logout {
            color: $common-text-color;
            line-height: 40px;
            height: 40px;
            padding: 0 10px;

            &:hover {
                background-color: darken($colormain, 5);
            }

            i {
                font-size: $base-size + 1px;
            }
        }
    }

}